{% extends 'base.html'%}


{% block title %}
Contact
{% endblock %}

{% block content %}
<h1 class='page-title'>Contact</h1>

<h3>Hello! This website will be improved over time. If you Have any questions, comments or concerns please feel free to
    reach out to me!</h3>

<div>
    <h3>My Email: <a href="mailto:{{email}}">JoeWolfe0527@gmail.com</a></h3>
    <h3>My Linkedin: <a href="www.linkedin.com/in/jwolfe0595"></a> Linkedin</h3>
    <h3>My Github: <a href="https://github.com/Joe-Wolfe">Github</a></h3>
</div>


{% endblock %}