{% extends 'base.html'%}


{% block title %}
Contact
{% endblock %}

{% block content %}
<h1 class='page-title'>Contact</h1>

<p>Hello! I Built this website for my first capstone project for Springboard. It is designed as a collaborative note
    taking website for my friends and I pathfinder game.
    This website will be improved over time. If you Have any questions, comments or concerns please feel free to reach
    out to me! </p>

<div>
    <h3>My Email: <a href="mailto:{{email}}">JoeWolfe0527@gmail.com</a></h3>
    <h3>My Linkedin: <a href="www.linkedin.com/in/jwolfe0595">Linkedin</a> </h3>
    <h3>My Github: <a href="https://github.com/Joe-Wolfe">Github</a></h3>
</div>


{% endblock %}