{% extends 'base.html' %}

{% block title %}Pages{% endblock %}

{% block content %}

<div>
    <h1 class="page-title">Pages
        <form action="/page/add"> <button class="add-edit-btn" type="submit">Add page</button>
        </form>
    </h1>
</div>
<p>This page contains a list of all the Pages in the Wiki</p>
<hr>
<ul class="directory">
    {% for page in pages %}
    <li><a href="/page/{{page.title}}">{{ page.title }}</a></li>
    {% else %}
    <li>No Pages found</li>
    {% endfor %}
</ul>
{% endblock %}
```