{% extends 'base.html'%}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
{% if not page.is_active %}

<h1 class='page-title'>
    <bold>{{page.title}} IS NOT ACTIVE!</bold>
    <container class="activate-deactivate-container">
        <form action="/page/{{page.title}}/activate" method="post"> <button class="activate-deactivate-btn"
                type="submit">REACTIVATE</button>
        </form>
</h1>
{%else%}
<h1 class='page-title'>{{page.title}}<form action="/page/{{page.title}}/edit"> <button class="add-edit-btn"
            type="submit">Edit
            Page</button>
    </form>
</h1>
<p>{{page.synopsis}}</p>
<hr>

{% if sections %}
<!-- This page has sections 
    Loop over sections and display -->
{% for section in sections %}
<div id="section{{section.position}}">
    <h2 class='section-heading'>
        <span class='section-title'>{{section.title}}</span>

        <button id="sectionAddBtn{{section.position}}" class="edit-section-btn"
            onclick="showFields('{{section.position|string}}')">
            <i class="icon ion-md-create"></i>
        </button>

        <!-- Delete section form -->
        <form class="delete-form" action="/sections/{{section.id}}/delete" method="post">
            <button class="delete-btn" type="submit"
                onclick="return confirm('Are you sure you want to delete this section?');">
                <i class="icon ion-md-trash"></i>
            </button>
        </form>
    </h2>

    <p>{{section.body}}</p>
</div>
<div id="addEditSectionform{{section.position|string}}" style="display: none;">
    <h2>Edit Section</h2>
    {% from "pages/section_template.html" import render_form with context %}

    {{ render_form(forms[loop.index0], section.position|string, page.title, True, section.id) }}
</div>
{% endfor %}

<!-- Add new section -->
<div id="section{{sections|length}}">
    <div class='section-heading'>
        <input type="button" id="sectionAddBtn{{sections|length}}" class="add-edit-btn" value="Add Section"
            onclick="showFields('{{sections|length|string}}')" />
    </div>
</div>
<div id="addEditSectionform{{sections|length|string}}" style="display: none;">
    <h2>Edit Section</h2>
    {% from "pages/section_template.html" import render_form with context %}

    {{ render_form(forms[sections|length], sections|length|string, page.title) }}
</div>



<!-- No sections so only need to create a new section -->
{% else %}
<div id="section0">
    <h2 class='section-heading'><span>This Page is empty.</span>

        <input type="button" id="sectionAddBtn0" class="add-edit-btn" value="Add Section" onclick="showFields(0)" />
    </h2>
</div>

<div id="addEditSectionform0" style="display: none;">
    <h2>New Section</h2>
    {% from "pages/section_template.html" import render_form with context %}

    {{ render_form(forms[-1], '0', page.title) }}

</div>
{% endif %}
<container class="activate-deactivate-container">
    <form action="/page/{{page.title}}/deactivate" method="post"> <button class="activate-deactivate-btn"
            type="submit">DEACTIVATE</button>
    </form>
</container>


{% endif %}

</container>
<script>
    function showFields(form_id) {
        document.getElementById("section" + form_id).style.display = "none";
        document.getElementById("addEditSectionform" + form_id).style.display = "block";
    }

    function hideFields(form_id) {
        document.getElementById("section" + form_id).style.display = "block";
        document.getElementById("addEditSectionform" + form_id).style.display = "none";
    }
</script>
{% endblock %}