{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}

<div>
    <h1 class="page-title">Categories
        <form action="/categories/add"> <button class="add-edit-btn" type="submit">Add Category</button>
        </form>
    </h1>
</div>
<p>This page contains a list of all the Categories in the Wiki</p>
<hr>
<ul class="directory">
    {% for category in categories %}
    <li><a href="/category/{{category.name}}">{{ category.name }}</a></li>
    {% else %}
    <li>No categories found</li>
    {% endfor %}
</ul>
{% endblock %}
```