<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav>
        {% from "navbar.html" import show_navbar with context %}
        {{ show_navbar()}}
    </nav>

    <aside>
        {% from "sidebar.html" import show_sidebar with context %}
        {{ show_sidebar()}}
    </aside>

    <main>
        {% with messages = get_flashed_messages(with_categories= true) %}
        {% if messages %}
        {% for category, message in messages %}
        <span class="{{category }}">{{ message }}</span> <!-- Add the category as a class -->
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>