{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home</h2>
<p>Hello! This wiki was created by Joe Wolfe partly as a Capstone project for my Springboard education, but it was
    mainly as a passion project to create a simple place for me to make notes digitally for the pathfinder game. You can
    add Categories and pages in order to keep track of any NPC’s. Locations, the sky's the limit. I will be updating
    this project with more features So check back frequently to see what is new!
</p>
{% endblock %}