{% macro show_navbar() %}

<header>
    <h1>My Wiki</h1>
    <div class="navbar">
        <a href="/pages">Pages</a>
        <a href="/categories">Categories</a>
        <a href="/">For</a>
        <a href="/">Site</a>

        <span class="navbar-right">
            {% if not g.user %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up!</a>
            {% else %}
            <a href="/users/{{ g.user.id }}">{{ g.user.username }} ToDo</a>
            <a href="/logout">Logout</a>
            {% endif %}
    </div>
</header>

{% endmacro %}