{% macro show_navbar() %}

<header>
    <h1 id=title-h1><a id="title" href="/">Din Wiki</a></h1>
    <div class="navbar">
        <a href="/pages">Pages</a>
        <a href="/categories">Categories</a>
        <a href="/contact">Contact</a>

        <span class="navbar-right">
            <form id="search-bar" action="/search" method="GET">
                <input id="search-field" type="text" name="q" placeholder="Search...">
            </form>
            {% if not g.user %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up!</a>
            {% else %}
            <a href="/users/{{ g.user.id }}">{{ g.user.username }} ToDo</a>
            <a href="/logout">Logout</a>
            {% endif %}
    </div>
</header>

{% endmacro %}